In [ ]:
# import modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# reading the file
dataset = pd.read_csv('Placement_Data.csv')
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,CGPA,degree_t,workex,etest_p,specialisation,Masters,status
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed
3,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed
4,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,199,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed
211,202,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed
212,207,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed
213,209,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed

In [ ]:
# dropping the serial no and salary col
dataset = dataset.drop('sl_no', axis=1)
dataset = dataset.drop('Masters', axis=1)

In [ ]:
dataset

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,CGPA,degree_t,workex,etest_p,specialisation,status
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,Placed
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,Placed
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,Placed
3,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,Placed
4,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...
210,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,Not Placed
211,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,Not Placed
212,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,Not Placed
213,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,Not Placed
214,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,Not Placed

In [ ]:
dataset.gender.unique()

array(['M', 'F'], dtype=object)

In [ ]:
dataset.ssc_b.unique()

array(['Others', 'Central'], dtype=object)

In [ ]:
dataset.hsc_s.unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [ ]:
dataset = dataset[dataset['hsc_s']!='Commerce']

In [ ]:
dataset.hsc_s.unique()

array(['Science', 'Arts'], dtype=object)

In [ ]:
dataset = dataset[dataset['hsc_s']!='Arts']

In [ ]:
dataset.degree_t.unique()

array(['Sci&Tech', 'Comm&Mgmt', 'Others'], dtype=object)

In [ ]:
dataset = dataset[dataset['degree_t']!='Comm&Mgmt']

In [ ]:
dataset = dataset[dataset['degree_t']!='Others']

In [ ]:
dataset.degree_t.unique()

array(['Sci&Tech'], dtype=object)

In [ ]:
dataset.specialisation.unique()

array(['Mkt&Fin', 'Mkt&HR'], dtype=object)

In [ ]:
dataset=dataset.drop('specialisation',axis=1)

In [ ]:
dataset=dataset.drop('hsc_s',axis=1)
dataset=dataset.drop('degree_t',axis=1)

In [ ]:
dataset

    gender  ssc_p    ssc_b  hsc_p    hsc_b   CGPA workex  etest_p      status
1        M  79.33  Central  78.33   Others  77.48    Yes    86.50      Placed
4        M  82.00  Central  64.00  Central  66.00    Yes    67.00      Placed
14       F  69.80   Others  60.80   Others  72.23     No    55.53      Placed
15       F  77.40   Others  60.00   Others  64.74    Yes    92.00      Placed
16       M  76.50   Others  97.70   Others  78.86     No    97.40      Placed
24       F  79.00  Central  76.00  Central  65.60     No    58.00      Placed
26       M  81.00   Others  68.00   Others  64.00     No    93.00      Placed
33       M  80.00   Others  70.00   Others  72.00     No    87.00      Placed
39       M  52.60  Central  65.58   Others  72.11     No    57.60      Placed
42       F  86.50   Others  64.20   Others  67.40     No    59.00      Placed
46       M  73.00  Central  73.00  Central  66.00    Yes    70.00      Placed
47       M  82.00   Others  61.00   Others  62.00     No    89.00      Placed
53       M  64.00   Others  80.00   Others  65.00    Yes    69.00      Placed
54       M  84.00   Others  90.90   Others  64.50     No    86.04      Placed
57       M  84.00   Others  79.00   Others  68.00    Yes    84.00      Placed
58       M  70.00  Central  63.00   Others  70.00    Yes    55.00      Placed
62       F  84.00   Others  75.00   Others  69.00    Yes    62.00      Placed
71       M  73.00  Central  78.00  Central  73.00    Yes    85.00      Placed
75       F  69.50  Central  70.00  Central  72.00     No    57.20      Placed
81       M  77.00   Others  75.00   Others  73.00     No    80.00      Placed
82       M  76.00  Central  80.00  Central  78.00    Yes    97.00      Placed
84       F  64.00  Central  67.00   Others  69.60    Yes    55.67      Placed
89       F  79.00   Others  61.00   Others  75.50    Yes    70.00      Placed
91       M  80.40  Central  73.40  Central  77.72    Yes    81.20      Placed
99       F  82.00   Others  64.00   Others  73.00    Yes    96.00      Placed
102      M  85.00  Central  60.00   Others  73.43    Yes    60.00      Placed
104      M  89.40   Others  65.66   Others  71.25     No    72.00      Placed
108      M  71.00  Central  58.66  Central  58.00    Yes    56.00      Placed
110      F  75.40   Others  60.50  Central  84.00     No    98.00      Placed
111      M  49.00   Others  59.00   Others  65.00    Yes    86.00      Placed
113      M  84.20  Central  69.40  Central  65.00    Yes    80.00      Placed
115      M  87.00  Central  74.00  Central  65.00    Yes    75.00      Placed
117      M  63.00   Others  67.00   Others  64.00     No    75.00      Placed
122      M  73.24   Others  50.83   Others  64.27    Yes    64.00      Placed
125      M  68.00   Others  56.00   Others  68.00     No    73.00      Placed
129      M  78.50  Central  65.50  Central  67.00    Yes    95.00      Placed
134      M  72.00   Others  63.00   Others  77.50    Yes    78.00      Placed
135      F  83.96   Others  53.00   Others  91.00     No    59.32      Placed
138      M  70.00  Central  63.00  Central  66.00     No    61.28      Placed
145      M  58.00   Others  60.00   Others  72.00     No    74.00      Placed
148      M  56.00  Central  52.00  Central  52.00     No    66.00  Not Placed
149      M  55.00   Others  49.80   Others  67.25    Yes    55.00  Not Placed
158      F  67.00  Central  53.00  Central  65.00     No    64.00  Not Placed
163      F  76.00  Central  64.00  Central  72.00     No    58.00  Not Placed
172      F  69.00  Central  62.00  Central  66.00     No    75.00  Not Placed
180      M  59.00  Central  64.00   Others  58.00     No    85.00  Not Placed
181      M  61.08   Others  50.00   Others  54.00     No    71.00  Not Placed
182      M  52.00  Central  63.00   Others  65.00    Yes    86.00  Not Placed
183      M  51.00   Others  54.00   Others  61.00     No    60.00  Not Placed
191      M  67.00   Others  63.00   Others  64.00     No    60.00  Not Placed
195      M  67.90   Others  62.00   Others  67.00    Yes    58.10  Not Placed
197      M  59.96   Others  42.16   Others  61.26     No    54.48  Not Placed
199      F  52.00   Others  52.00   Others  55.00     No    67.00  Not Placed
200      M  63.00   Others  62.00   Others  65.00     No    87.50  Not Placed
201      F  77.80  Central  64.00  Central  64.20     No    75.50  Not Placed
202      M  62.00  Central  60.33   Others  64.21     No    63.00  Not Placed

In [ ]:
dataset.shape

(56, 9)

In [ ]:
# catgorising col for further labelling
dataset["gender"] = dataset["gender"].astype('category')
dataset["ssc_b"] = dataset["ssc_b"].astype('category')
dataset["hsc_b"] = dataset["hsc_b"].astype('category')
dataset["workex"] = dataset["workex"].astype('category')
dataset["status"] = dataset["status"].astype('category')
dataset.dtypes

gender     category
ssc_p       float64
ssc_b      category
hsc_p       float64
hsc_b      category
CGPA        float64
workex     category
etest_p     float64
status     category
dtype: object

In [ ]:
# labelling the columns
dataset["gender"] = dataset["gender"].cat.codes
dataset["ssc_b"] = dataset["ssc_b"].cat.codes
dataset["hsc_b"] = dataset["hsc_b"].cat.codes
dataset["workex"] = dataset["workex"].cat.codes
dataset["status"] = dataset["status"].cat.codes

# display dataset
dataset

     gender  ssc_p  ssc_b  hsc_p  hsc_b   CGPA  workex  etest_p  status
1         1  79.33      0  78.33      1  77.48       1    86.50       1
4         1  82.00      0  64.00      0  66.00       1    67.00       1
14        0  69.80      1  60.80      1  72.23       0    55.53       1
15        0  77.40      1  60.00      1  64.74       1    92.00       1
16        1  76.50      1  97.70      1  78.86       0    97.40       1
24        0  79.00      0  76.00      0  65.60       0    58.00       1
26        1  81.00      1  68.00      1  64.00       0    93.00       1
33        1  80.00      1  70.00      1  72.00       0    87.00       1
39        1  52.60      0  65.58      1  72.11       0    57.60       1
42        0  86.50      1  64.20      1  67.40       0    59.00       1
46        1  73.00      0  73.00      0  66.00       1    70.00       1
47        1  82.00      1  61.00      1  62.00       0    89.00       1
53        1  64.00      1  80.00      1  65.00       1    69.00       1
54        1  84.00      1  90.90      1  64.50       0    86.04       1
57        1  84.00      1  79.00      1  68.00       1    84.00       1
58        1  70.00      0  63.00      1  70.00       1    55.00       1
62        0  84.00      1  75.00      1  69.00       1    62.00       1
71        1  73.00      0  78.00      0  73.00       1    85.00       1
75        0  69.50      0  70.00      0  72.00       0    57.20       1
81        1  77.00      1  75.00      1  73.00       0    80.00       1
82        1  76.00      0  80.00      0  78.00       1    97.00       1
84        0  64.00      0  67.00      1  69.60       1    55.67       1
89        0  79.00      1  61.00      1  75.50       1    70.00       1
91        1  80.40      0  73.40      0  77.72       1    81.20       1
99        0  82.00      1  64.00      1  73.00       1    96.00       1
102       1  85.00      0  60.00      1  73.43       1    60.00       1
104       1  89.40      1  65.66      1  71.25       0    72.00       1
108       1  71.00      0  58.66      0  58.00       1    56.00       1
110       0  75.40      1  60.50      0  84.00       0    98.00       1
111       1  49.00      1  59.00      1  65.00       1    86.00       1
113       1  84.20      0  69.40      0  65.00       1    80.00       1
115       1  87.00      0  74.00      0  65.00       1    75.00       1
117       1  63.00      1  67.00      1  64.00       0    75.00       1
122       1  73.24      1  50.83      1  64.27       1    64.00       1
125       1  68.00      1  56.00      1  68.00       0    73.00       1
129       1  78.50      0  65.50      0  67.00       1    95.00       1
134       1  72.00      1  63.00      1  77.50       1    78.00       1
135       0  83.96      1  53.00      1  91.00       0    59.32       1
138       1  70.00      0  63.00      0  66.00       0    61.28       1
145       1  58.00      1  60.00      1  72.00       0    74.00       1
148       1  56.00      0  52.00      0  52.00       0    66.00       0
149       1  55.00      1  49.80      1  67.25       1    55.00       0
158       0  67.00      0  53.00      0  65.00       0    64.00       0
163       0  76.00      0  64.00      0  72.00       0    58.00       0
172       0  69.00      0  62.00      0  66.00       0    75.00       0
180       1  59.00      0  64.00      1  58.00       0    85.00       0
181       1  61.08      1  50.00      1  54.00       0    71.00       0
182       1  52.00      0  63.00      1  65.00       1    86.00       0
183       1  51.00      1  54.00      1  61.00       0    60.00       0
191       1  67.00      1  63.00      1  64.00       0    60.00       0
195       1  67.90      1  62.00      1  67.00       1    58.10       0
197       1  59.96      1  42.16      1  61.26       0    54.48       0
199       0  52.00      1  52.00      1  55.00       0    67.00       0
200       1  63.00      1  62.00      1  65.00       0    87.50       0
201       0  77.80      0  64.00      0  64.20       0    75.50       0
202       1  62.00      0  60.33      1  64.21       0    63.00       0

In [ ]:
# selecting the features and labels
X = dataset.iloc[:, :-1].values
Y = dataset.iloc[:, -1].values

# display dependent variables
Y

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int8)

In [ ]:
X

array([[ 1.  , 79.33,  0.  , 78.33,  1.  , 77.48,  1.  , 86.5 ],
       [ 1.  , 82.  ,  0.  , 64.  ,  0.  , 66.  ,  1.  , 67.  ],
       [ 0.  , 69.8 ,  1.  , 60.8 ,  1.  , 72.23,  0.  , 55.53],
       [ 0.  , 77.4 ,  1.  , 60.  ,  1.  , 64.74,  1.  , 92.  ],
       [ 1.  , 76.5 ,  1.  , 97.7 ,  1.  , 78.86,  0.  , 97.4 ],
       [ 0.  , 79.  ,  0.  , 76.  ,  0.  , 65.6 ,  0.  , 58.  ],
       [ 1.  , 81.  ,  1.  , 68.  ,  1.  , 64.  ,  0.  , 93.  ],
       [ 1.  , 80.  ,  1.  , 70.  ,  1.  , 72.  ,  0.  , 87.  ],
       [ 1.  , 52.6 ,  0.  , 65.58,  1.  , 72.11,  0.  , 57.6 ],
       [ 0.  , 86.5 ,  1.  , 64.2 ,  1.  , 67.4 ,  0.  , 59.  ],
       [ 1.  , 73.  ,  0.  , 73.  ,  0.  , 66.  ,  1.  , 70.  ],
       [ 1.  , 82.  ,  1.  , 61.  ,  1.  , 62.  ,  0.  , 89.  ],
       [ 1.  , 64.  ,  1.  , 80.  ,  1.  , 65.  ,  1.  , 69.  ],
       [ 1.  , 84.  ,  1.  , 90.9 ,  1.  , 64.5 ,  0.  , 86.04],
       [ 1.  , 84.  ,  1.  , 79.  ,  1.  , 68.  ,  1.  , 84.  ],
       [ 1.  , 70.  ,  0.  , 63.  ,  1.  , 70.  ,  1.  , 55.  ],
       [ 0.  , 84.  ,  1.  , 75.  ,  1.  , 69.  ,  1.  , 62.  ],
       [ 1.  , 73.  ,  0.  , 78.  ,  0.  , 73.  ,  1.  , 85.  ],
       [ 0.  , 69.5 ,  0.  , 70.  ,  0.  , 72.  ,  0.  , 57.2 ],
       [ 1.  , 77.  ,  1.  , 75.  ,  1.  , 73.  ,  0.  , 80.  ],
       [ 1.  , 76.  ,  0.  , 80.  ,  0.  , 78.  ,  1.  , 97.  ],
       [ 0.  , 64.  ,  0.  , 67.  ,  1.  , 69.6 ,  1.  , 55.67],
       [ 0.  , 79.  ,  1.  , 61.  ,  1.  , 75.5 ,  1.  , 70.  ],
       [ 1.  , 80.4 ,  0.  , 73.4 ,  0.  , 77.72,  1.  , 81.2 ],
       [ 0.  , 82.  ,  1.  , 64.  ,  1.  , 73.  ,  1.  , 96.  ],
       [ 1.  , 85.  ,  0.  , 60.  ,  1.  , 73.43,  1.  , 60.  ],
       [ 1.  , 89.4 ,  1.  , 65.66,  1.  , 71.25,  0.  , 72.  ],
       [ 1.  , 71.  ,  0.  , 58.66,  0.  , 58.  ,  1.  , 56.  ],
       [ 0.  , 75.4 ,  1.  , 60.5 ,  0.  , 84.  ,  0.  , 98.  ],
       [ 1.  , 49.  ,  1.  , 59.  ,  1.  , 65.  ,  1.  , 86.  ],
       [ 1.  , 84.2 ,  0.  , 69.4 ,  0.  , 65.  ,  1.  , 80.  ],
       [ 1.  , 87.  ,  0.  , 74.  ,  0.  , 65.  ,  1.  , 75.  ],
       [ 1.  , 63.  ,  1.  , 67.  ,  1.  , 64.  ,  0.  , 75.  ],
       [ 1.  , 73.24,  1.  , 50.83,  1.  , 64.27,  1.  , 64.  ],
       [ 1.  , 68.  ,  1.  , 56.  ,  1.  , 68.  ,  0.  , 73.  ],
       [ 1.  , 78.5 ,  0.  , 65.5 ,  0.  , 67.  ,  1.  , 95.  ],
       [ 1.  , 72.  ,  1.  , 63.  ,  1.  , 77.5 ,  1.  , 78.  ],
       [ 0.  , 83.96,  1.  , 53.  ,  1.  , 91.  ,  0.  , 59.32],
       [ 1.  , 70.  ,  0.  , 63.  ,  0.  , 66.  ,  0.  , 61.28],
       [ 1.  , 58.  ,  1.  , 60.  ,  1.  , 72.  ,  0.  , 74.  ],
       [ 1.  , 56.  ,  0.  , 52.  ,  0.  , 52.  ,  0.  , 66.  ],
       [ 1.  , 55.  ,  1.  , 49.8 ,  1.  , 67.25,  1.  , 55.  ],
       [ 0.  , 67.  ,  0.  , 53.  ,  0.  , 65.  ,  0.  , 64.  ],
       [ 0.  , 76.  ,  0.  , 64.  ,  0.  , 72.  ,  0.  , 58.  ],
       [ 0.  , 69.  ,  0.  , 62.  ,  0.  , 66.  ,  0.  , 75.  ],
       [ 1.  , 59.  ,  0.  , 64.  ,  1.  , 58.  ,  0.  , 85.  ],
       [ 1.  , 61.08,  1.  , 50.  ,  1.  , 54.  ,  0.  , 71.  ],
       [ 1.  , 52.  ,  0.  , 63.  ,  1.  , 65.  ,  1.  , 86.  ],
       [ 1.  , 51.  ,  1.  , 54.  ,  1.  , 61.  ,  0.  , 60.  ],
       [ 1.  , 67.  ,  1.  , 63.  ,  1.  , 64.  ,  0.  , 60.  ],
       [ 1.  , 67.9 ,  1.  , 62.  ,  1.  , 67.  ,  1.  , 58.1 ],
       [ 1.  , 59.96,  1.  , 42.16,  1.  , 61.26,  0.  , 54.48],
       [ 0.  , 52.  ,  1.  , 52.  ,  1.  , 55.  ,  0.  , 67.  ],
       [ 1.  , 63.  ,  1.  , 62.  ,  1.  , 65.  ,  0.  , 87.5 ],
       [ 0.  , 77.8 ,  0.  , 64.  ,  0.  , 64.2 ,  0.  , 75.5 ],
       [ 1.  , 62.  ,  0.  , 60.33,  1.  , 64.21,  0.  , 63.  ]])

In [ ]:
# dividing the data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y,test_size=0.2)

# display dataset
dataset.head()

    gender  ssc_p  ssc_b  hsc_p  hsc_b   CGPA  workex  etest_p  status
1        1  79.33      0  78.33      1  77.48       1    86.50       1
4        1  82.00      0  64.00      0  66.00       1    67.00       1
14       0  69.80      1  60.80      1  72.23       0    55.53       1
15       0  77.40      1  60.00      1  64.74       1    92.00       1
16       1  76.50      1  97.70      1  78.86       0    97.40       1

In [ ]:
X_train.shape, X_test.shape

((44, 8), (12, 8))

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model
model = Sequential()
model.add(Dense(8, input_dim=8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, Y_train, epochs=10)

# Save the model in Keras format
model.save('my_model.h5')

# Convert the model to the TensorFlow.js format
import tensorflowjs as tfjs
tfjs.converters.save_keras_model(model, 'tfjs_model')

Epoch 1/10
2/2 [==============================] - 1s 12ms/step - loss: 1.4265 - accuracy: 0.6136
Epoch 2/10
2/2 [==============================] - 0s 11ms/step - loss: 1.3969 - accuracy: 0.6136
Epoch 3/10
2/2 [==============================] - 0s 12ms/step - loss: 1.3579 - accuracy: 0.6136
Epoch 4/10
2/2 [==============================] - 0s 20ms/step - loss: 1.3524 - accuracy: 0.6136
Epoch 5/10
2/2 [==============================] - 0s 11ms/step - loss: 1.3523 - accuracy: 0.6136
Epoch 6/10
2/2 [==============================] - 0s 13ms/step - loss: 1.3361 - accuracy: 0.6136
Epoch 7/10
2/2 [==============================] - 0s 16ms/step - loss: 1.3393 - accuracy: 0.6136
Epoch 8/10
2/2 [==============================] - 0s 17ms/step - loss: 1.3440 - accuracy: 0.6136
Epoch 9/10
2/2 [==============================] - 0s 9ms/step - loss: 1.3339 - accuracy: 0.6136
Epoch 10/10
2/2 [==============================] - 0s 14ms/step - loss: 1.3279 - accuracy: 0.6136

In [ ]:
model.save_weights('model.weights.bin')

In [ ]:
model.predict([[1,87,0,78,1,77,1,86]])

1/1 [==============================] - 0s 150ms/step

array([[0.99305654]], dtype=float32)

In [ ]:
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)

# Save the weights to HDF5
model.save_weights("model.weights.bin")

In [ ]:
!pip install tensorflowjs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflowjs
  Downloading tensorflowjs-4.5.0-py3-none-any.whl (85 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.1/85.1 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: importlib_resources>=5.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflowjs) (5.12.0)
Requirement already satisfied: jax>=0.3.16 in /usr/local/lib/python3.10/dist-packages (from tensorflowjs) (0.4.8)
Requirement already satisfied: tensorflow<3,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflowjs) (2.12.0)
Requirement already satisfied: six<2,>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflowjs) (1.16.0)
Collecting tensorflow-decision-forests>=1.3.0
  Downloading tensorflow_decision_forests-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 43.0 MB/s eta 0:00:00
Requirement already satisfied: tensorflow-hub>=0.13.0 in /usr/local/lib/python3.10/dist-packages (from tensorflowjs) (0.13.0)
Collecting packaging~=20.9
  Downloading packaging-20.9-py2.py3-none-any.whl (40 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.9/40.9 kB 3.5 MB/s eta 0:00:00
Collecting flax<0.6.3,>=0.6.2
  Downloading flax-0.6.2-py3-none-any.whl (189 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 189.9/189.9 kB 18.5 MB/s eta 0:00:00
Requirement already satisfied: PyYAML>=5.4.1 in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (6.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (3.7.1)
Requirement already satisfied: rich>=11.1 in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (13.3.4)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (4.5.0)
Requirement already satisfied: numpy>=1.12 in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (1.22.4)
Requirement already satisfied: msgpack in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (1.0.5)
Requirement already satisfied: tensorstore in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (0.1.36)
Requirement already satisfied: optax in /usr/local/lib/python3.10/dist-packages (from flax<0.6.3,>=0.6.2->tensorflowjs) (0.1.5)
Requirement already satisfied: ml-dtypes>=0.0.3 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.16->tensorflowjs) (0.1.0)
Requirement already satisfied: opt-einsum in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.16->tensorflowjs) (3.3.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.16->tensorflowjs) (1.10.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.10/dist-packages (from packaging~=20.9->tensorflowjs) (3.0.9)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (1.6.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (1.14.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (3.20.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (0.4.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (2.3.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (1.4.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (2.12.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (67.7.2)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (16.0.0)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (2.12.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (0.32.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (1.54.0)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (2.12.0)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (23.3.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow<3,>=2.12.0->tensorflowjs) (3.8.0)
Collecting wurlitzer
  Downloading wurlitzer-3.0.3-py3-none-any.whl (7.3 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from tensorflow-decision-forests>=1.3.0->tensorflowjs) (1.5.3)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from tensorflow-decision-forests>=1.3.0->tensorflowjs) (0.40.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.10/dist-packages (from rich>=11.1->flax<0.6.3,>=0.6.2->tensorflowjs) (2.14.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in /usr/local/lib/python3.10/dist-packages (from rich>=11.1->flax<0.6.3,>=0.6.2->tensorflowjs) (2.2.0)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (3.4.3)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (2.17.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (0.7.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (1.8.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (2.27.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (2.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->flax<0.6.3,>=0.6.2->tensorflowjs) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->flax<0.6.3,>=0.6.2->tensorflowjs) (4.39.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->flax<0.6.3,>=0.6.2->tensorflowjs) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->flax<0.6.3,>=0.6.2->tensorflowjs) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->flax<0.6.3,>=0.6.2->tensorflowjs) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->flax<0.6.3,>=0.6.2->tensorflowjs) (2.8.2)
Requirement already satisfied: jaxlib>=0.1.37 in /usr/local/lib/python3.10/dist-packages (from optax->flax<0.6.3,>=0.6.2->tensorflowjs) (0.4.7+cuda11.cudnn86)
Requirement already satisfied: chex>=0.1.5 in /usr/local/lib/python3.10/dist-packages (from optax->flax<0.6.3,>=0.6.2->tensorflowjs) (0.1.7)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->tensorflow-decision-forests>=1.3.0->tensorflowjs) (2022.7.1)
Requirement already satisfied: dm-tree>=0.1.5 in /usr/local/lib/python3.10/dist-packages (from chex>=0.1.5->optax->flax<0.6.3,>=0.6.2->tensorflowjs) (0.1.8)
Requirement already satisfied: toolz>=0.9.0 in /usr/local/lib/python3.10/dist-packages (from chex>=0.1.5->optax->flax<0.6.3,>=0.6.2->tensorflowjs) (0.12.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (0.3.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (5.3.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (1.3.1)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.10/dist-packages (from markdown-it-py<3.0.0,>=2.2.0->rich>=11.1->flax<0.6.3,>=0.6.2->tensorflowjs) (0.1.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (2022.12.7)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (2.1.2)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow<3,>=2.12.0->tensorflowjs) (3.2.2)
Installing collected packages: wurlitzer, packaging, flax, tensorflow-decision-forests, tensorflowjs
  Attempting uninstall: packaging
    Found existing installation: packaging 23.1
    Uninstalling packaging-23.1:
      Successfully uninstalled packaging-23.1
  Attempting uninstall: flax
    Found existing installation: flax 0.6.9
    Uninstalling flax-0.6.9:
      Successfully uninstalled flax-0.6.9
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
xarray 2022.12.0 requires packaging>=21.3, but you have packaging 20.9 which is incompatible.
statsmodels 0.13.5 requires packaging>=21.3, but you have packaging 20.9 which is incompatible.
Successfully installed flax-0.6.2 packaging-20.9 tensorflow-decision-forests-1.3.0 tensorflowjs-4.5.0 wurlitzer-3.0.3